
<h1><%= @pirate.name %></h1>
<p><%= @pirate.weight %></p>
<p><%= @pirate.height %></p>

<% @pirate.ships.each do |ship| %>
  <div class="">
    <h2><%= ship.name %></h2>
    <h2><%= ship.type %></h2>
    <h2><%= ship.booty %></h2>
  </div>
<% end %>
