<h1>Pirate:</h1>
<p>Name: <%=@pirate.name%></p>
<p>Weight: <%=@pirate.weight%></p>
<p>Height: <%=@pirate.height%></p>

<%@ships.each_with_index do |ship, i|%>
<h2>Ship <%=i+1%>:</h2>
<p><h3>Name: <%=ship.name%></h3></p>
<p><h3>Type: <%=ship.type%></h3></p>
<p><h3>Booty: <%=ship.booty%></h3></p>
<br/>
<%end%>
